* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color: var(--typography-color);
  --clear-main-color: rgb(255, 255, 255);
  --contrast-color: rgb(212, 125, 11);
  --typography-color: rgb(14, 8, 4);
}

body {
  font-size: 16px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h3 {
  font-size: clamp(1.2rem, -0.875rem + 3.333vw, 1.75rem);
  margin-bottom: 0.07em;
}

p {
  font-size: 1rem;
}

.hero {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.hero-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: var(--contrast-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

.hero h2 {
  font-size: clamp(2.5rem, -0.5rem + 5.333vw, 3.2rem);
  margin-bottom: 6%;
}

.cta {
  width: fit-content;
  height: fit-content;
  border: 2px solid transparent;
  padding: 0.9em 1.8em 0.9em 1.8em;
  border: none 1px transparent;
  border-radius: 0 5em 5em 5em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  background-color: var(--contrast-color);
  color: var(--clear-main-color);
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  min-height: 20rem;
}

.card h3 {
  color: var(--clear-main-color);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
}

.card p {
  color: var(--clear-main-color);
  letter-spacing: 0.4px;
  font-size: 1.3rem;
  font-weight: bold;
}

.card:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/img/01.jpg);
}

.card:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/img/02.jpg);
}

.card:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/img/03.jpg);
}

.container {
  max-width: 360px;
  margin: auto;
}

@media only screen and (min-device-width: 800px) {
  main {
    width: 100%;
  }

  .container {
    max-width: 1150px;
  }

  .card-section {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    flex: 1;
    min-height: 25rem;
    transition: 0.5s;
    cursor: pointer;
    justify-content: center;
  }

  .card * {
    display: none;
  }

  .card:hover * {
    display: flex;
  }

  .card h3 {
    font-size: 1rem;
    margin-bottom: 3%;
  }

  .card p {
    font-size: 1.7rem;
  }

  .hero {
    margin-bottom: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-headings {
    align-items: flex-start;
  }

  .cta {
    padding: 1.2em 2.1em 1.2em 2.1em;
    border-radius: 0 5em 5em 5em;
    font-size: 1.1rem;
  }

  .cta:hover {
    background-color: transparent;
    border: 2px solid var(--contrast-color);
    color: var(--contrast-color);
    transition: 0.4s;
  }
}
