* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color: var(--typography-color);
  --clear-main-color: rgb(255, 255, 255);
  --contrast-color: rgb(212, 125, 11);
  --typography-color: rgb(14, 8, 4);
}

body {
  font-size: 16px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  font-weight: bold;
  margin-bottom: 0.25em;
}

h2 {
  font-size: clamp(1.5rem, -0.875rem + 6.333vw, 2.2rem);
  font-weight: bold;
  margin-bottom: 0.17em;
}

h3 {
  font-size: clamp(1.2rem, -0.875rem + 3.333vw, 1.75rem);
  margin-bottom: 0.07em;
}

p {
  font-size: 1rem;
}
