* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color: var(--typography-color);
  --clear-main-color: rgb(255, 255, 255);
  --contrast-color: rgb(212, 125, 11);
  --typography-color: rgb(14, 8, 4);
}

body {
  font-size: 16px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h3 {
  font-size: clamp(1.2rem, -0.875rem + 3.333vw, 1.75rem);
  margin-bottom: 0.07em;
}

p {
  font-size: 1rem;
}

.hero {
  padding-top: 7%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  color: var(--contrast-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

.hero h2 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, -0.5rem + 5.333vw, 3.2rem);
}

.cta {
  width: fit-content;
  height: fit-content;
  padding: 0.9em 1.8em 0.9em 1.8em;
  border: none 1px transparent;
  border-radius: 0 5em 5em 5em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  background-color: var(--contrast-color);
  color: var(--clear-main-color);
}
