* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--typography-color);
  --clear-main-color: rgb(242, 243, 248);
  --dark-main-color: rgb(8, 35, 79);
  --contrast-color: rgb(164, 127, 14);
  --typography-color: rgb(2, 8, 17);
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  font-weight: bold;
  margin-bottom: 0.25em;
}

h2 {
  font-size: clamp(1.5rem, -0.875rem + 6.333vw, 2.2rem);
  font-weight: bold;
  margin-bottom: 0.17em;
}

h3 {
  font-size: clamp(1.2rem, -0.875rem + 3.333vw, 1.75rem);
  margin-bottom: 0.07em;
}

p {
  font-size: 1rem;
}
